.albumArt {
    width: 250px;
    border-radius: 5px;
}
.padding25 {
    padding: 25px;
}
.movieTitle {
    color: #fa6c85;
    display: inline-block;
}
.movieDesc {
    font-size: 1rem;
}
.avgRating {
    border: 1px solid white;
    border-radius: 30px;
    padding: 3px 9px;
}